notebook
ipywidgets
ipykernel
jupyter
websocket-client==0.37.0
pillow
scipy
matplotlib
pyserial
opencv-python
ipython
ipympl
prosac
depthai
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/