[Unit]
Description=hit service
After=network-online.target

[Service]
ExecStart=/home/norlab/glo4001/scripts/jupyter.sh

[Install]
WantedBy=multi-user.target