Description=Start Jupyter Notebook

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=cd ~/glo4001 && source venv/bin/activate && jupyter notebook
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target