[Unit]
Description=ROS
After=network-online.target

[Service]
Type=forking
ExecStart=/home/norlab/glo4001/scripts/ros_rover.sh

[Install]
WantedBy=multi-user.target